<h1>Thanks for signing up, <%= @user.name %>!</h1>
   <p>You've taken your first step into a larger world.</p>

<!-- <%= link_to 'Activate your account', `http://localhost:3000/users/${@user.id}/activate` %> -->
