<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Nutrition</title>
  </head>
  <body>
      <!-- <%#if @current_user.present?%> -->
      <p></p>
      <p></p>

      <div>
        <div class="row text-center">

          <div class="col post">
            <%= image_tag "breakfast.jpg", :class => 'overlays'%>
          <div class="post-s">
              <p>Brekkie - the most important meal of the day!</p>
          </div>
        </div>
          <div class="col post">
            <%= image_tag "lunch.webp", :class => 'overlays'%>
            <div class="post-s">
                <p>Lunch - Can you skip it? Just a sandwich maybe?</p>
            </div>

          </div>

          <div class="col post">
            <%= image_tag "dinner.jpg", :class => 'overlays'%>
            <div class="post-s">
                <p>Dinner - Can you wait until dinner to make up for all the food you were supposed to eat?</p>
            </div>

          </div>

        </div>
      </div>
      <div class="container">
      <p></p>
        <div class="row text-center">
          <div class="col">
            <h3>Eating Well</h3>
                The key to eating well is to enjoy a variety of nutritious foods from each of the Five Food Groups (broadly: vegetables, fruits, grains, lean meats and milk). Guidelines recommend that we enjoy a wide variety of nutritious foods from the five groups every day. To meet the nutrient requirements essential for good health, you need to eat a variety from each of the five food groups daily, in the recommended amounts.
          </div>
          <div class="col">
            <h3>How Much?</h3>
                Within each food group the Australian Dietary Guidelines has recommended the 'serve size' of different foods that have roughly the same amount of key nutrients and kilojoules. This informs people of different ages, life stages and gender, the minimum number of serves from each food group they need to eat each day, to make sure they get the full amount of nutrients their body needs. These average amounts provide all the nutrients you need for health and wellbeing.
          </div>
          <div class="col">
            <h3>Track your intake</h3>
                This app will help you track your food intake, guiding you to keep within the serving guidelines that have been set against each of the food groups. You can also track the food intake of your family members. Use our calendar feature to monitor your daily eating patterns and compare your intake with the recommended guidelines via charts, so you can track and control your next meal and stay within your daily limits.
          </div>
        </div>
        <br> <br>
      </div>
    <!-- <%# else %>
      <h2>Please Sign in to proceed!</h2>
      <#%end%> -->
    </body>
    </html>
