<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @usercategory.category %>
</p>

<%= link_to 'Edit', edit_usercategory_path(@usercategory) %> |
<%= link_to 'Back', usercategories_path %>
