<h1>Nutrition Calculator</h1>

<form id = "title-search">
  <h1>Search for a food and will give you back the nutrients</h1>
  <input type="search" id="query" name="book-title" value = "1 strawberry">
  <button id="search">Search</button>
  <table id = "table" class = "display">
    <tr>
      <td><img src = "" id = "images"></td>
    </tr>
    <tr>
      <td>Calories</td>
      <td id ="calories"></td>
    </tr>
    <tr>
      <td>Cholesterol</td>
      <td id = "cholesterol"></td>
    </tr>
    <tr>
      <td>Dietary Fiber</td>
      <td id = "dietaryfiber"></td>
    </tr>
    <tr>
      <td>Potassium</td>
      <td id ="potassium"></td>
    </tr>
    <tr>
      <td>Protein</td>
      <td id = "protein"></td>
    </tr>
    <tr>
      <td>Saturated Fat</td>
      <td id = "saturatedfat"></td>
    </tr>

    <tr>
      <td>Sodium</td>
      <td id = "sodium"></td>
    </tr>
    <tr>
      <td>Sugars</td>
      <td id = "sugars"></td>
    </tr>
    <tr>
      <td>Total Carbohydrates</td>
      <td id = "totcarbohydrates"></td>
    </tr>
    <tr>
      <td>Total Fat</td>
      <td id = "totfat"></td>
    </tr>

  </table>
  <table id = "table" class = "display">
     <tr>
      <td>Serving Quantity</td>
      <td id = "servingquantity" ></td>
    </tr>
    <tr>
      <td>Serving Unit</td>
      <td id = "servingunit"></td>
    </tr>
    <tr>
      <td>Serving Weight Grams</td>
      <td id = "servingweightgram"></td>
    </tr>
    <tr>
      <td>Source</td>
      <td id = "source"></td>
    </tr>
  </table>
</form>
